body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7e1d7;
}

main {
    display: flex;
    flex-direction: column;

}

nav {
    background-color: #4a5759;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3.5rem 2rem;
    background-color: #b0c4b1;
    border-radius: 20px;
}

.user_name {
    display: flex;
    text-align: center;
    font-size: 20px;
    margin: 1rem 1rem;
    padding-left: 100px;
}

.user_name label {
    margin-top: 0.3rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.user_name input {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
}

.user_lastname {
    margin-left: 25%;
}

.user_mail {
    margin-left: 7.5rem;
}

.user_mail label {
    margin-top: 0.3rem;
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 20px;
}

.user_mail input {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
}

.user_age {
    margin-left: 7.5rem;
    margin-top: 15px;
}

.user_age label {
    margin-top: 0.3rem;
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 20px;
}

.user_age input {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    margin-left: 0.3rem;

}

.user_message {
    margin-left: 9.5rem;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.user_message textarea {
    margin: 1rem 3.5rem;
    width: 50%;
}

.user_points {
    margin-left: 9.5rem;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.user_points input {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    width: 25%;
}

.btn_area {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn_area button {
    margin: 15px;
    width: 5rem;
    padding: 10px 5px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #4a5759;
    color: #f7e1d7;
}

.btn_area button:hover {
    background-color: #dedbd2;
    cursor: pointer;
    color: #4a5759;
    transition: 0.2s ease-in;
}